<div id="jQUi">

  <div id="header">
    <h1>RhodesJqmobiDemo</h1>
    <% if SyncEngine::logged_in > 0 %>
    <a href="<%= url_for :controller => :Settings, :action => :do_sync %>">
      Sync
    </a>
    <a href="<%= url_for :controller => :Settings, :action => :logout %>">
      Logout
    </a>
    <% else %>
        <a href="<%= url_for :controller => :Settings, :action => :login %>">Login</a>
    <% end %>
  </div>
  
  <div id="content">
    <div  id="main" class="panel" selected="true">
      <ul>
        <li><a href="Product">Product CRUD</a></li>
      </ul>
    </div>
  </div>

</div>
