

	<div id="header">
    <h1 id="pageTitle">Products Index</h1>
    <a href="<%= url_for :action => :new %>">
      New
    </a>
	</div>

	 <br /> <br /> <br />
  
    <ul>
      <% @products.each do |product| %>
      
          <li>
            <a href="<%= url_for :action => :show, :id => product.object %>">
              <%= product.brand %>
            </a>
          </li>
      
      <% end %>
    </ul>



