  <div id="header">
    <h1>New <%= @product.title %></h1>
    <a href="<%= url_for :action => :index %>">
      Cancel
    </a>
  </div>

    <br />
    <form method="POST" action="<%= url_for :action => :create %>">
     <fieldset>
      
      <input type="hidden" name="id" value="<%= @product.object %>"/>

      
            <label for="product[brand]" class="fieldLabel">Brand</label><br />
            <input type="text" id="product[brand]" name="product[brand]" class='jq-ui-forms' /><br />
          
            <label for="product[name]" class="fieldLabel">Name</label><br />
            <input type="text" id="product[name]" name="product[name]" class='jq-ui-forms' /><br />
          
            <label for="product[price]" class="fieldLabel">Price</label><br />
            <input type="text" id="product[price]" name="product[price]" class='jq-ui-forms' /><br />
              
            <label for="product[quantity]" class="fieldLabel">Quantity</label><br />
            <input type="text" id="product[quantity]" name="product[quantity]" class='jq-ui-forms' /><br />
          
            <label for="product[sku]" class="fieldLabel">Sku</label><br />
            <input type="text" id="product[sku]" name="product[sku]" class='jq-ui-forms' /><br />
       
         <input type="submit" value="Create" class="button"/>
    </form>
   </fieldset>
